/results
/output
/span_prediction_model
/paragraph_selection_model
/paragraph_selection_model_roberta
/span_prediction_model
/span_prediction_model_roberta
/span_prediction_model_bert
/span_prediction_model_macbert
/scratch_span_prediction_model
submission.csv